a {
  text-decoration: none;
  color: unset;
}
button,
input,
select,
textarea {
  background-color: transparent;
  outline: 0;
}

body,
html {
  overflow-x: hidden;
}

input[type="checkbox"]::before {
  transform: translate(-50%, -50%);
  left: 50%;
  position: absolute;
}

*,
:after,
:before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
ul,
li {
  list-style: none;
}
button {
  cursor: pointer;
  border: 0;
}
html {
  font-size: 62.5%;
}
:root {
  --mainClr: #ab0e00;
  --textClr: #404040;
  --buttonFadeClr: #ececec;
  --fadeClr: #e9e9e97e;
  --fadeText: #3e3e3e;
  --boxShadown: 0 0 10px 2px #ebebeb;
}
body {
  font-weight: 400;
  line-height: 1.8;

  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  color: var(--textClr);
  background-color: #fdfdfd;
  font-size: 1.6rem;
  overflow-y: auto;
}

/* // IDEAS */
.ideas_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
  background-color: white;
  flex-direction: column;
  transition: 0.5s ease;
  opacity: 1;
}
.ideas_header.hide {
  top: -100%;
  opacity: 0;
}
.ideas_header_top {
  width: 100%;
  background-color: var(--mainClr);
  display: flex;
  justify-content: flex-end;
  padding: 0 5rem;
}
.ideas_header_top ul {
  display: flex;
  gap: 2rem;
  font-size: 1.4rem;
  padding: 5px 0;
  color: white;
}

.ideas_header_menu {
  height: 8rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
  z-index: 9999;
  background-color: white;
  padding: 1rem 5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.ideas_logo img {
  width: 13rem;
  cursor: pointer;
}
.ideas_header_right {
  display: flex;
  gap: 3rem;
}

.ideas_menu {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 3rem;
}

.ideas_menu_btns {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.ideas_menu_btns > a > i {
  margin-right: 5px;
}
.main_btn {
  padding: 7px 2rem;
  background-color: var(--mainClr);
  border-radius: 100rem;
  color: white;
  box-shadow: 0 0 4px rgb(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.3s;
}
.main_btn * {
  display: inline-block;
}
.main_btn:hover {
  filter: brightness(1.2);
}
.ideas_menu li {
  cursor: pointer;
  transition: 0.2s;
  position: relative;
}
.ideas_menu li a i {
  margin-right: 5px;
  opacity: 0.8;
}
.ideas_menu li a i:last-child {
  transform: translateY(1px);
  margin-left: 1px;
}
.ideas_menu > li:hover > a {
  color: var(--mainClr);
}
.ideas_menu > li > ul::after {
  content: "";
  position: absolute;
  top: -2rem;
  left: 0;
  width: 100%;
  height: 2rem;
}
.ideas_menu > li > ul > li::after {
  content: "";
  position: absolute;
  top: 0;
  right: -3rem;
  width: 5rem;
  height: 100%;
}
.ideas_menu > li > ul,
.ideas_menu > li > ul > li > ul {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: white;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
  border-radius: 5px;
  list-style: none;
  min-width: 18rem;
  width: max-content;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.ideas_menu > li > ul > li > ul::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
}
.ideas_menu > li > ul > li > ul {
  width: 100%;
  top: -1rem;
  transform: translateX(53%);
}
.ideas_menu > li:hover > ul {
  opacity: 1;
  pointer-events: all;
}
.ideas_menu > li > ul > li:hover > ul {
  opacity: 1;
  pointer-events: all;
}
.ideas_menu > li > ul > li a {
  display: flex;
  padding: 0.8rem 1rem;
  transition: 0.2s;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
}
.ideas_menu > li > ul > li:hover > a,
.ideas_menu > li > ul > li > ul > li:hover > a {
  background-color: var(--mainClr);
  color: white;
}

.space {
  padding: 4rem 0;
}

.ideas_main {
  margin-top: 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 5rem;
  overflow: hidden;
}
.ideas_baner {
  text-align: center;
  padding: 2rem;
  background-color: var(--mainClr);
  user-select: none;
  pointer-events: none;
}
.ideas_baner img {
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
  user-select: none;
  pointer-events: none;
}

.ideas_box {
  padding: 2rem;
  width: 90vw;
  display: flex;
  gap: 3rem;
  max-width: 1600px;
  border-radius: 5px;
  position: relative;
}

.ideas_box svg {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1;
  z-index: -1;
}
.ideas_box h2,
h1 {
  font-weight: bold;
  font-size: 4rem;
  padding: 2rem 0;
}
.ideas_box h2.sub {
  font-size: 2.5rem;
}
.pattern {
  position: absolute;
  z-index: -1;
  width: 25rem;
  top: 0%;
  left: 30%;
  transform: translateX(-50%);
  opacity: 0.05;
}
.ideas_box .w50 h2,
.ideas_box .w50 h1 {
  font-weight: bold;
  font-size: 5rem;
  padding: 0;
  margin-top: 0;
}
.w50 {
  width: 50%;
}
.ideas_numbers {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 1rem;
  z-index: 2;
}

.ideas_numbers > div {
  background-color: rgba(255, 238, 238, 0.871);
  width: calc(50% - 1rem);
  border-radius: 8px;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.ideas_numbers > div > p {
  font-weight: bold;
  font-size: 4rem;
  color: var(--mainClr);
  padding-bottom: 1rem;
}

.ideas_numbers > div > i {
  position: absolute;
  color: var(--mainClr);
  font-size: 4rem;
  top: 3rem;
  right: 3rem;
  opacity: 0.8;
}
.ideas_numbers > div > img {
  position: absolute;
  top: 2rem;
  right: 2rem;
  opacity: 0.8;
  width: 8rem;
}
.main_clr {
  color: var(--mainClr) !important;
}
.ideas_des {
  text-align: justify;
  font-size: 1.6rem;
  transition: 0.3s;
  max-height: unset;
}
.ideas_des li {
  padding-top: 1rem;
}
.ideas_des li i {
  color: var(--mainClr);
  padding-right: 5px;
}
.ideas_side_img {
  flex: 1;
  height: 40rem;
  overflow: hidden;
}
.ideas_side_img img {
  width: 100%;
  height: auto;
}

.ideas_btns {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-top: 1rem;
  flex-wrap: wrap;
}
.space_between {
  justify-content: space-between;
}

.ideas_btns a:hover {
  filter: brightness(1.2);
}
.w50 .ideas_btns {
  margin-top: 4rem;
}

.main_btn.sub {
  background-color: white;
  color: var(--textClr);
}

.ideas_imgs {
  display: flex;
  gap: 1rem;
}
.ideas_img {
  margin-top: 3rem;
}
.ideas_imgs img {
  width: calc(33.33%);
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 0 3px rgb(0, 0, 0, 0.2);
}
.ideas_line {
  width: 82%;
  max-width: 1600px;
  border-top: 1px solid rgb(0, 0, 0, 0.05);
  margin-top: 2rem;
}
.ideas_courses {
  width: 100%;
  position: relative;
  flex-wrap: wrap;
}
.ideas_courses_tag {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 3.2rem;
  position: relative;
  margin-top: 2rem;
}
.mgt5 {
  margin-top: 5rem;
}
.ideas_courses_tag::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--mainClr);
  border-radius: 50rem;
  animation: pulseShadow 1.5s infinite ease-in-out; /* Hiệu ứng chớp liên tục */
}

.ideas_courses_tag.dba::after {
  background-color: #b27a0d;
  animation: pulseShadow2 1.5s infinite ease-in-out; /* Hiệu ứng chớp liên tục */
}
.ideas_course_info {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}
.ideas_courses_box {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}
.ideas_course {
  width: calc(25% - 2rem);
  box-shadow: 0 0 8px rgb(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: white;
  transition: 0.3s;
  z-index: 2;
  min-width: 32rem;
}

.ideas_course img {
  border-radius: 8px 8px 0 0;
  object-fit: cover;
  height: 50%;
}
.ideas_course_info > p {
  font-size: 2rem;
  font-weight: bold;
  color: var(--mainClr);
}

.ideas_course_btns {
  display: flex;
  gap: 2rem;
  align-items: center;
  font-size: 1.5rem;
  justify-content: space-between;
  margin-top: 1rem;
}
.ideas_course_detail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;
  border-radius: 8px;
  background-color: var(--fadeClr);
  font-size: 1.4rem;
}
.view_course {
  padding: 0.5rem 2rem;
  border-radius: 50rem;
  color: white;
  background: var(--mainClr);
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
  cursor: pointer;
  text-decoration: none;
}
.sign_course {
  padding: 0.5rem 2rem;
  border-radius: 50rem;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0, 0.3);
}
.ideas_course_detail > li > i {
  width: 2rem;
  opacity: 0.8;
}
.ideas_course_detail > li:last-child {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Giới hạn tối đa 3 dòng */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.5em; /* Điều chỉnh dựa theo line-height */
  line-height: 1.5em; /* Đảm bảo 3 dòng */
  word-break: break-word;
}

.ideas_school a img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50rem;
}
.ideas_school a {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.5rem;
}

.ideas_quote {
  width: 100%;
  padding: 4rem 0;
  margin-top: 3rem;
  position: relative;
}
.ideas_quote h2 {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  padding-top: 5rem;
}
.ideas_quote_inner {
  width: 90%;
  max-width: 1400px;
  margin: 3rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.ideas_follow_inner {
  display: flex;
  align-items: stretch;
  gap: 2rem;
  margin-top: 3rem;
}
.ideas_follow {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;
  border-radius: 50rem;
  border: 1px solid rgb(0, 0, 0, 0.2);
  width: max-content;
  background-color: white;
}
.ideas_follow > p {
  font-weight: bold;
}
.ideas_follow a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ideas_follow a {
  font-size: 2.5rem;
  cursor: pointer;
  filter: grayscale(1);
  opacity: 0.8;
  transition: 0.3s;
}

.ideas_follow a:hover {
  filter: grayscale(0);
}
.ideas_follow a:nth-of-type(1):hover {
  color: blue;
}
.ideas_main.school .ideas_follow a:nth-of-type(1):hover {
  color: var(--mainClr);
}
.ideas_follow a:nth-of-type(2):hover {
  color: rgb(211, 0, 0);
}
.ideas_follow a:nth-of-type(3):hover {
  color: rgb(0, 112, 172);
}
.ideas_follow a:nth-of-type(4):hover {
  color: rgb(27, 9, 0);
}

.ideas_follow i img {
  width: 2.8rem;
}
.ideas_follow.group img {
  width: 8rem;
}
.ideas_social_avatar_inner {
  display: flex;
  align-items: center;
}
.ideas_social_avatar_inner > div {
  display: flex;
  align-items: center;
}
.ideas_social_avatar {
  width: 100%;
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.ideas_social_avatar_inner img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid white;
}
.ideas_text {
  font-size: 15rem;
  width: max-content;
  top: -12%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  opacity: 0.08;
  font-weight: bold;
}
.ideas_social_avatar_inner img:not(:first-child) {
  margin-left: -1.5rem;
}
.ideas_social_avatar_inner p {
  font-weight: bold;
  margin-left: 1rem;
}
.ideas_social_main_avt {
  border: 2px solid var(--mainClr) !important;
  margin-right: 1rem;
}

.ideas_quote_item {
  width: calc(33.33% - 2rem);
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 1rem;
  gap: 1rem;
  background: linear-gradient(135deg, rgb(233, 0, 0), #860000);
}
.ideas_quote_item img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 10rem;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
}
.ideas_star {
  display: flex;
  color: rgb(255, 201, 93);
  margin-top: 1rem;
  gap: 2px;
}
.ideas_quote_info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  padding: 2rem;
  padding-bottom: 0rem;
}
.ideas_quote_info > div > span {
  font-size: 1rem;
  display: flex;
  margin-top: 1rem;
  color: white;
}
.ideas_quote_item > .ideas_quote_info p {
  font-weight: bold;
  color: white;
  font-size: 1.7rem;
}
.ideas_quote_item > span {
  font-size: 1.3rem;
  text-align: center;
}
.ideas_quote_detail {
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 8px;
  font-size: 1.3rem;
  flex: 1;
  text-align: justify;
  background-color: #ffffff;
}
.ideas_quote_detail i {
  color: var(--mainClr);
}

.ideas_coop {
  width: 100%;
  border-radius: 8px;
}
.mgta5 {
  margin-top: -5rem;
}
.ideas_coop_box {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  width: 100%;
}
.title_line {
  font-weight: bold;
  text-align: center;
  width: max-content;
  margin: 0 auto;
  margin-top: 3rem;
  position: relative;
  padding: 0 2rem;
  font-size: 1.8rem;
}

.ideas_coop_item {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  filter: grayscale(1);
  opacity: 0.8;
  transition: 0.3s;
  mix-blend-mode: multiply;
}
.ideas_coop_item:hover {
  filter: grayscale(0);
  opacity: 1;
}
.ideas_coop_item img {
  width: 18rem;
}
.ideas_main.school .ideas_coop_item img {
  height: 8rem;
  width: auto;
}
.ideas_benefits h3 {
  font-weight: bold;
  font-size: 1.8rem;
}
.ideas_benefits > div {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.ideas_benefits > div p {
  padding: 1rem 3rem;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: white;
  z-index: 2;
}
b {
  font-weight: bold;
}
.ideas_benefits p {
  padding-left: 4rem !important;
  position: relative;
}
.ideas_benefits p::after {
  content: "";
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 10rem;
  background-color: green;
  top: 50%;
  transform: translateY(-50%);
  left: 2rem;
}
.ideas_coop_block {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -5rem;
}
.ideas_coop_block > img {
  opacity: 0.2;
  width: 120%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.ideas_title_center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ideas_title_center > i {
  font-size: 5rem;
  color: var(--mainClr);
  border-radius: 5px;
}
.ideas_history {
  width: 100%;
}
.ideas_history_line {
  margin-top: 3rem;
  width: 100%;
  height: 5px;
  background-color: var(--mainClr);
}
.pattern_totnghiep {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  opacity: 0.25;
  z-index: -1;
  filter: grayscale(1);
}
.ideas_history_inner {
  margin-top: 1rem;
  gap: 2rem;
  flex-wrap: nowrap;
  padding: 4rem 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ideas_history_item {
  width: calc(25% - 2rem);
  margin-top: 8rem;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);
  border-radius: 8px;
  position: relative;
  background: white;
}
.ideas_history_item::after {
  content: "";
  position: absolute;
  left: 50%;
  top: -8.5rem;
  transform: translateX(-50%);
  width: calc(100% + 2.5rem);
  height: 6px;
  border-radius: 100rem;
  background: var(--mainClr);
  z-index: -1;
}
.ideas_history_time {
  position: absolute;
  top: -5rem;
  font-weight: bold;
  font-size: 1.8rem;
  color: var(--fadeText);
  left: 50%;
  transform: translateX(-50%);
}
.ideas_history_item img {
  border-radius: 8px 8px 0 0;
  object-fit: cover;
  height: 22rem;
  width: 100%;
}
.ideas_history_item_info {
  padding: 2rem;
  padding-top: 1rem;
}
.ideas_history_item_info > p {
  font-size: 1.4rem;
}
.ideas_history_item_info > p:first-child {
  font-weight: bold;
  color: var(--mainClr);
  font-size: 2rem;
}
.ideas_history_item_info > p i {
  opacity: 0.8;
}
.ideas_title_viewmore {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ideas_title_viewmore a {
  font-weight: bold;
  cursor: pointer;
}
.ideas_history_item_info > p i {
  width: 2rem;
}

@keyframes pulseShadow2 {
  0% {
    box-shadow: 0 0 0 5px #b27b0d8c;
  }
  50% {
    box-shadow: 0 0 0 10px #b27b0d2c;
  }
  100% {
    box-shadow: 0 0 0 5px #b27b0d85;
  }
}
@keyframes pulseShadow {
  0% {
    box-shadow: 0 0 0 5px rgba(255, 120, 120, 0.5);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(255, 120, 120, 0.2);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(255, 120, 120, 0.5);
  }
}

.ideas_history_item a {
  position: absolute;
  top: -11.8rem;
  left: 50%;
  transform: translateX(-50%);
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--mainClr);
  color: white;
  cursor: pointer;
  margin: 2rem auto;
  text-decoration: none;
  animation: pulseShadow 1.5s infinite ease-in-out; /* Hiệu ứng chớp liên tục */
}

.ideas_history_item_info a i {
  font-size: 1.2rem;
  opacity: 0.9;
}
.ideas_euromap {
  width: 100%;
}

.ideas_euromap {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  position: relative;
  padding-bottom: 5rem;
}
.ideas_euromap_content {
  width: 50%;
  text-align: justify;
}
.ideas_euromap_img {
  position: absolute;
  top: -52rem;
  left: 50%;
  width: 100rem;
  z-index: 0;
}

.ideas_test_btn {
  margin-top: 3rem;
}
.ideas_test_btn i {
  margin-right: 1rem;
}

.ideas_euromap_img .euro_map {
  z-index: -1;
}
.euro_map {
  opacity: 0.3;
}
.phapts {
  position: absolute;
  width: 22.8rem;
  top: 58.1%;
  right: 59.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.phapts:hover {
  filter: brightness(1.2);
}

.euro_map_box {
  position: absolute;
  top: 53%;
  right: 45rem;
  background: white;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  transition: 0.3s;
  opacity: 0;
  transform-origin: 0;
  scale: 0;
}
.euro_map_box::after {
  position: absolute;
  content: "";
  top: 0;
  left: -3rem;
  height: 100%;
  width: 5rem;
}
.euro_map_box:hover {
  opacity: 1;
  scale: 1;
}
.phapts:hover ~ .euro_map_box {
  opacity: 1;
  scale: 1;
}
.euro_map_box img {
  width: 10rem;
  cursor: pointer;
}
.ideas_popup_overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 99999;
  transition: 0.2s;
  opacity: 0;
  pointer-events: none;
}
.ideas_form {
  border: 5px solid #00000010;
}
.ideas_form,
.ideas_alert,
.ideas_media_popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  max-width: 50rem;
  background: white;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 2rem;
  z-index: 9999999;
  opacity: 0;
  transform-origin: 0 0;
  pointer-events: none;
  scale: 0;
  transition: 0.2s;
}

.ideas_alert,
.ideas_media_popup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 95vw;
  max-width: 50rem;
}
.ideas_media_popup {
  max-width: 80rem;
}
.ideas_media_popup > .ideas_media_content > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  overflow-y: auto;
  gap: 2rem;
  padding: 1rem;
}
.ideas_media_popup img {
  box-shadow: 0 0 3px rgb(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 100%;
  object-fit: cover;
}
.ideas_alert_close {
  width: 100%;
  text-align: center;
  font-weight: bold;
  background: var(--buttonFadeClr);
  padding: 5px 1rem;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
}
.ideas_alert .ideas_alert_content > i {
  font-size: 4rem;
  color: green;
}
.ideas_alert .ideas_alert_content > img {
  width: 10rem;
}
.ideas_alert .ideas_alert_content > ul {
  width: 100%;
  text-align: left;
  font-size: 1.5rem;
  max-height: 50vh;
  overflow: auto;
}
.ideas_alert .ideas_alert_content > ul i {
  color: var(--mainClr);
  margin-right: 5px;
}
.ideas_alert_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  width: 100%;
  padding: 2rem;
  padding-top: 0;
}
.ideas_media_popup h3,
.ideas_alert h3 {
  font-weight: bold;
  font-size: 2rem;
  color: var(--mainClr);
}
.ideas_form.active,
.ideas_media_popup.active,
.ideas_alert.active {
  opacity: 1;
  pointer-events: all;
  scale: 1;
}
.ideas_alert {
  z-index: 9999999999;
}
.ideas_alert.active ~ .ideas_popup_overlay {
  opacity: 1;
  pointer-events: all;
  z-index: 999999998;
}
.compare.active ~ .ideas_popup_overlay {
  opacity: 1;
  pointer-events: all;
}
.ideas_media_popup.active ~ .ideas_popup_overlay {
  opacity: 1;
  pointer-events: all;
}
.ideas_form.active ~ .ideas_popup_overlay {
  opacity: 1;
  pointer-events: all;
}
.ideas_form_choose {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  position: relative;
}

.ideas_form_choose ul {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
  min-width: 120%;
  width: max-content;
  z-index: 1;
  font-weight: normal;
  overflow: hidden;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.ideas_form_choose.active ul {
  opacity: 1;
  pointer-events: all;
}

.ideas_form_choose ul li {
  padding: 5px 2rem;
  transition: 0.3s;
}
.ideas_form_choose ul li:hover {
  background-color: var(--mainClr);
  color: white;
}

.ideas_form_choose i {
  transform: translateY(-3px);
}
.ideas_form_close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2rem;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.5;
}
.ideas_form_close:hover {
  color: var(--mainClr);
  opacity: 1;
}
.ideas_form h2 {
  font-weight: bold;
  color: var(--mainClr);
  font-size: 2.2rem;
  text-align: center;
}
.ideas_form_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  margin-bottom: 1rem;
}
.ideas_form_header > img {
  width: 15rem;
}
.ideas_form > form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  width: 95%;
}
.ideas_form > form > label {
  display: flex;
  flex-direction: column;
}
.ideas_form > form input,
.ideas_form > form textarea,
.ideas_form > form select {
  padding: 5px 1rem;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0, 0.5);
  outline: 1px transparent;
}
.ideas_form > form input:focus,
.ideas_form > form textarea:focus {
  border: 1px solid var(--mainClr);
  outline: 1px solid var(--mainClr);
}
.ideas_form > form > label > select {
  padding: 1rem;
}
.ideas_form > form > label > span {
  font-size: 1.4rem;
  margin-bottom: 5px;
  opacity: 0.8;
}
.ideas_form_flex {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  width: 100%;
}
.ideas_form_flex > div {
  width: calc(50%);
}
.ideas_form_flex > div input {
  width: calc(100%);
}
.ideas_form_flex span {
  font-size: 1.4rem;
  margin-bottom: 5px;
  opacity: 0.8;
}

.ideas_form_submit {
  width: 100%;
  background: var(--mainClr);
  padding: 8px 1rem;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  color: white;
  margin-top: 1rem;
  cursor: pointer;
}
.ideas_submit_alert {
  font-size: 1.2rem;
  text-align: center;
}
.ideas_submit_alert a {
  font-weight: bold;
}
.ideas_faq {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}
.ideas_faq_inner {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ideas_demographic {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}
.ideas_demographic > div {
  width: 50%;
}
.ideas_demographic > div > p {
  font-weight: bold;
  padding: 0 1rem;
  font-size: 2rem;
}
.ideas_demographic > div > p i {
  margin-right: 5px;
  color: var(--mainClr);
}
.ideas_ref b {
  font-size: 2rem;
}

.ideas_ref > a img {
  border-radius: 10px;
  margin: 1rem auto;
}

.ideas_demographic > div > ul {
  margin-top: 1rem;
  background: white;
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.ideas_demographic > div > ul > li p {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}
.ideas_demographic > div > ul > li p > span:last-child {
  font-weight: bold;
}
.ideas_demographic > div > ul > li > p:last-child {
  width: 100%;
  height: 8px;
  background-color: #00000015;
  border-radius: 50rem;
  position: relative;
  overflow: hidden;
  margin-top: 5px;
}
.ideas_demographic > div > ul > li > p:last-child > span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--mainClr);
  height: 100%;
  border-radius: 50rem;
}

.ideas_faq_item {
  box-shadow: 0 0 3px rgb(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 2rem;

  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
  background-color: white;
}
.ideas_faq > div {
  display: flex;
  gap: 3rem;
  align-items: flex-start;
  justify-content: space-between;
}
.ideas_faq_item > p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 700;
  cursor: pointer;
  z-index: 1;
  transition: 0.3s ease;
}

.ideas_faq_item.active {
  max-height: 100rem; /* Khi mở rộng */
  padding-bottom: 3rem; /* Tăng khoảng cách */
}
.ideas_faq_item > p i {
  transition: 0.3s;
  color: var(--mainClr);
  padding-left: 1rem;
  transform-origin: 75%;
}
.ideas_faq_item.active > p i {
  rotate: 180deg;
}
.ideas_faq_item > span {
  display: block;
  max-height: 0;
  transition: 0.4s ease-in-out;
  opacity: 0;
  font-size: 1.5rem;
  text-align: justify;
  padding-right: 2rem;
}
.ideas_faq h2 i {
  color: var(--mainClr);
}
.ideas_faq_item.active > span {
  margin-top: 1rem;
  max-height: 500rem;
  opacity: 1;
}

.ideas_faq_add {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -10rem;
}

.ideas_faq_add img {
  width: 80%;
  filter: grayscale(0.1);
  pointer-events: none;
  user-select: none;
}
.ideas_faq_add h3 {
  color: #3e3e3e;
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
}
.ideas_faq_add a {
  padding: 1rem;
  width: 80%;
  text-align: center;
  background-color: var(--mainClr);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: -1px;
}
.ideas_faq_add a i {
  color: white;
}
/* ideas_program */
.ideas_program {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.ideas_program_detail {
  width: 35%;
  flex: 1;
  position: sticky;
  top: 10rem; /* Dừng khi chạm đỉnh */
  align-self: flex-start; /* Giữ nguyên vị trí khi cuộn */
  height: fit-content; /* Giữ nguyên kích thước */
}
.ideas_require_inner {
  display: flex;
  justify-content: center;
  gap: 2rem;
  background: white;
  box-shadow: 0 0 3px rgb(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 100%;
  margin-bottom: 3rem;
}

.ideas_require_title > div li {
  margin-top: 1rem;
}
.ideas_require {
  width: 100%;
}
.ideas_require_title > p {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  font-weight: bold;
}
.ideas_require_title > p > span:first-child {
  font-weight: normal;
  font-size: 1.5rem;
}
.ideas_require_list li {
  font-weight: bold;
}
.ideas_require_title,
.ideas_require_list {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
}
.ideas_require_list {
  align-items: flex-start;
}
.ideas_require_list li i {
  color: var(--mainClr);
  margin-right: 5px;
}
.ideas_require_title > i,
.ideas_require_list > i {
  width: 5rem;
  height: 5rem;
  border-radius: 50rem;
  background-color: #ffefef;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--mainClr);
  font-size: 2rem;
}
.ideas_program_subject {
  flex: 2;
}
.ideas_course_title {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0rem;
  padding: 2rem;
  padding: 0 5rem;
  padding: 2rem;
  width: 90vw;
  gap: 3rem;
  max-width: 1600px;
  position: relative;
}
.ideas_course_title h2 {
  font-size: 4rem;
  font-weight: bold;
  padding: 0;
}
.mgba5 {
  margin-bottom: -5rem;
}
.ideas_course_title_left h1 {
  padding-bottom: 0rem;
}
.ideas_course_title_left a {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  transition: 0.3s;
}
.ideas_course_title_left a:hover {
  color: var(--mainClr);
}
.ideas_course_title_left > div > span {
  font-weight: bold;
}
.ideas_course_title_left > div > p {
  border-top: 1px solid rgb(0, 0, 0, 0.1);
  margin-top: 2rem;
  padding-top: 1rem;
}
.ideas_course_title_left {
  gap: 2rem;
  display: flex;
  width: 55%;
  flex-direction: column;
  position: relative;
}

.ideas_course_title_left > img:hover {
  filter: brightness(0.8);
}
.ideas_program_head_share {
  opacity: 0.8;
}
.ideas_course_title_left > div > a img {
  width: 3rem;
  height: 3rem;
  border-radius: 50rem;
}
.ideas_course_title_right {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: flex-end;
  flex: 1;
}
.ideas_course_title_right > img,
.ideas_course_title_right > iframe {
  height: 40rem;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 8px rgb(0, 0, 0, 0.3);
  transition: 0.3s;
  cursor: pointer;
  width: 100%;
}

.ideas_course_title_right > img:hover {
  filter: brightness(0.8);
}

.ideas_program h2 {
  margin-top: 5rem;
  font-size: 2.5rem;
  padding: 0;
}

.ideas_program_subject_item {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  margin-top: 2rem;
  padding: 0 3rem;
  background-color: white;
}
.ideas_program_subject_item li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.ideas_program_subject_item li.active {
  max-height: 100rem; /* Mở rộng */
}
.ideas_program_subject_item li > p > i {
  transition: 0.3s;
}

.ideas_program_subject_item li.active > p > i {
  rotate: 180deg;
  color: var(--mainClr);
}

.ideas_program_subject_item p:first-child {
  font-weight: bold;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ideas_program_subject_item p:first-child > span i {
  margin-right: 5px;
}
.ideas_program_subject_item li.active p:first-child > span i {
  color: var(--mainClr);
}
.ideas_program_subject_item li p:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 700;
  padding: 2.5rem 0;
  cursor: pointer;
  z-index: 1;
  transition: 0.3s ease;
}
.ideas_program_professor_inner .ideas_program_subject_item li p:first-child {
  font-size: 1.6rem;
}
.ideas_program_subject_item li p:first-child * {
  pointer-events: none;
}
.ideas_program_subject_item li p:last-child {
  max-height: 0;
  transition: 0.4s ease-in-out;
  opacity: 0.7;
  font-size: 1.5rem;
}
.ideas_program_subject_item li.active p:last-child {
  max-height: 100rem;
  padding-bottom: 2.5rem;
  opacity: 1;
}
.ideas_program_subject_item li p:last-child {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.ideas_subject_btns {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: space-between;
}
.ideas_program_subject_item li p:last-child a {
  font-weight: bold;
  color: var(--mainClr);
  cursor: pointer;
}
.ideas_program_subject_item li p:last-child a.disable {
  opacity: 0.5;
  pointer-events: none;
}
.ideas_program_subject > p {
  font-size: 1.5rem;
}
.ideas_program_detail_img {
  display: flex;
  margin-top: 2rem;
  align-items: flex-start;
  gap: 3rem;
}
.ideas_program_detail_info > p {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.ideas_program_detail_info a {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}
.ideas_program_detail_info ul {
  text-align: justify;
}
.wes_logo {
  width: 20rem;
  margin-bottom: 3rem;
}
.ideas_program_detail_img > img {
  width: 40%;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
  border-radius: 8px;
}
.ideas_program_detail_img.wes > img {
  width: 50%;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
  border-radius: 8px;
}
.ideas_program_detail_info ul li {
  margin-top: 1rem;
}
.ideas_program_detail_info ul li i {
  color: var(--mainClr);
}
.ideas_program_box {
  display: flex;
  gap: 3rem;
  align-items: flex-start;
  margin-top: -3rem;
}
.ideas_program_benefit {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
}
.ideas_program_info {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  padding: 2rem;
  width: 90vw;
  gap: 3rem;
  max-width: 1600px;
  border-radius: 8px;
  padding: 4rem 0;
  transform: translateY(-12rem);
  margin-bottom: -13rem;
  background: white;
  box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.15);
}
.ideas_program_time {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ideas_program_time > div {
  padding-bottom: 0;
  margin-bottom: 0;
  width: 100%;
}
.ideas_program_info > div > div {
  width: 20%;
  padding-left: 5rem;
}

.ideas_program_info > div > div:nth-child(3),
.ideas_program_info > div > div:nth-child(4) {
  width: 30%;
  padding-left: 2rem;
}

.ideas_program_info > div > div > p {
  font-weight: bold;
  font-size: 1.4rem;
}
.ideas_program_info > div img {
  width: 13rem;
}
.ideas_program_benefit li i {
  color: var(--mainClr);
  margin-right: 5px;
}

.ideas_program .ideas_require_title {
  margin-top: 3rem;
}
.ideas_program .ideas_require_title p {
  font-size: 1.6rem;
}
.ideas_program_fee {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}
.ideas_program_fee > div {
  width: 60%;
  padding: 2rem;
  border-radius: 15px;
  /* overflow: hidden; */
}

.ideas_imgs_logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-left: -1.5rem;
  mix-blend-mode: multiply;
}
.ideas_imgs_logo a {
  cursor: pointer;
  transition: 0.3s;
}
.ideas_imgs_logo a:hover {
  scale: 1.05;
}
.ideas_imgs_logo img {
  width: 10rem;
}
.ideas_program_fee_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  position: relative;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);
}

.ideas_program_fee_head > p {
  font-size: 3rem;
  font-weight: bold;
}
.ideas_program_fee_item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  user-select: none;
  pointer-events: none;
  border-radius: 8px;
}
.ideas_program_fee_item ul i {
  color: #ab0e00dc;

  margin-right: 5px;
}
.ideas_program_fee_item ul {
  font-size: 1.4rem;
  text-align: justify;
  padding: 1rem;
}
.ideas_program_fee_item ul li {
  margin-top: 0.5rem;
}
.text_link {
  color: var(--mainClr);
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}
.text_download {
  color: var(--mainClr);
  cursor: pointer;
}
.ideas_program_fee_head > img {
  width: 20rem;
  pointer-events: none;
  user-select: none;
}
.ideas_program_fee_head > h3 {
  font-weight: bold;
  font-size: 1.6rem;
  margin-top: -3rem;
  color: var(--mainClr);
}
.ideas_program_fee_head > h4 {
  font-weight: bold;
  font-size: 3.5rem;
  text-shadow: 1px 1px rgb(0, 0, 0, 0.5);
}
.ideas_program_fee_head {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
a.disable {
  opacity: 0.5;
  pointer-events: none;
}
.ideas_program_fee_btns {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}
.ideas_program_fee_btns a {
  color: white;
  background-color: var(--mainClr);
  font-weight: bold;
  width: 100%;
  border-radius: 50rem;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
}
.ideas_program_baner {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ideas_require_step > i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  font-size: 2rem;
  color: var(--mainClr);
}
.ideas_require_step {
  width: 25%;
  display: flex;
  align-items: center;
  justify-items: flex-start;
  flex-direction: column;
  position: relative;
  padding: 4rem;
}
.ideas_require_step > p {
  font-weight: bold;
  font-size: 1.8rem;
}
.ideas_require_step > span {
  font-size: 1.4rem;
  opacity: 0.9;
  width: 80%;
  text-align: center;
  display: block;
}
.ideas_require_step img {
  width: 8rem;
}
.ideas_program_head {
  width: 100%;
  padding: 2rem 0;
  padding-bottom: 10rem;
  background-color: #fff5f5;
}

.ideas_program_head_btns {
  margin-top: 2rem;
  gap: 2rem;
  display: flex;
  align-items: center;
}
.ideas_program_head_btns p {
  cursor: pointer;
}
.ideas_program_head_support {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: bold;
  font-size: 1.3rem;
}
.ideas_program_head_support a img {
  width: 8rem;
}
.swiper-container {
  width: 90vw;
  height: 20rem;
  max-width: 1600px;
  height: auto;
  position: relative;
  overflow: hidden;
}
.swiper-slide img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 5px;
}
.swiper-container.home {
  height: auto;
  padding-bottom: 3rem;
}
.swiper-container.home .swiper-slide img {
  width: 53rem;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
#compare {
  position: fixed;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 3px rgb(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  z-index: 999999;
  width: 50vw;
  transform-origin: 0 0;
  scale: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.compare_btn {
  position: fixed;
  bottom: 5rem;
  right: 1rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mainClr);
  border-radius: 10px;
  font-size: 1.2rem;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
  padding: 1rem;
  padding-top: 1.5rem;
  /* color: var(--mainClr); */
  cursor: pointer;
  z-index: 99999;
  transition: 0.3s;
  color: white;
}
.compare_btn:hover {
  background-color: white;
  color: var(--mainClr);
}
.compare_btn i {
  font-size: 2rem;
}
#compare > i {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2rem;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
}
#compare > i:hover {
  color: var(--mainClr);
}
#compare.active {
  scale: 1;
  opacity: 1;
  pointer-events: all;
}

#compare > p {
  font-size: 2.5rem;
  color: var(--mainClr);
  font-weight: bold;
}
#compare > .compare_block {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.ideas_degree {
  transition: 0.3s;
  cursor: pointer;
}
.ideas_degree:hover {
  filter: brightness(0.9);
}
.compare_active {
  display: flex;
  width: 100%;
  overflow-y: scroll;
  flex-direction: column;
  max-height: 0;
  transition: 0.3s;
  padding: 0 1rem;
  margin-top: -1rem;
}
.compare_active.active {
  max-height: 40vh;
}
.compare_course {
  width: 20vw;
  min-height: 14vw;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 3px rgb(0, 0, 0, 0.2);
  background-color: #ebebeba8;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}
.compare_active > div {
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid rgb(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.compare_active > div > p {
  width: 40%;
  word-wrap: break-word; /* Cho phép xuống dòng khi quá chiều rộng */
  overflow-wrap: break-word; /* Hỗ trợ xuống dòng cho các trình duyệt mới */
  white-space: normal; /* Đảm bảo chữ không bị giữ trên một dòng */
  font-size: 1.4rem;
}
.compare_active > div > p > span {
  display: block;
}
.compare_active > div > p:first-child {
  text-align: right;
}
.compare_active > div > p:nth-child(2) {
  width: 25%;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.compare_render {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  border-radius: 8px;
  background-color: white;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
}
.compare_render.active {
  pointer-events: all;
  opacity: 1;
}

.compare_course i {
  display: block;
}
.compare_course_btn {
  width: max-content;
  padding: 0.5rem 4rem;
  border-radius: 8px;
  background-color: var(--mainClr);
  color: white;
  cursor: pointer;
}
.compare_course img {
  display: none;
}
.compare_course.chosed i {
  display: none;
}
.compare_course.chosed img {
  display: block;
  max-height: 14vw;
}
.compare_render h4 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}
.compare_render > div {
  display: flex;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
  overflow: auto;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
}
.compare_item {
  width: calc(50% - 1rem);
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);
  height: max-content;
  padding: 2rem;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: 0.3s;
}
.compare_vs {
  font-size: 3rem;
  margin: auto;
  padding: 0 1rem;
  transform: translateY(-3rem);
  font-weight: bold;
}
.compare_item:hover h5 {
  color: var(--mainClr);
}
.compare_item h5 {
  font-weight: bold;
  font-size: 1.8rem;
}
.compare_item > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.compare_item > div img {
  width: 3rem;
  height: 3rem;
  border-radius: 50rem;
}
.compare_item > div > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.compare_course:hover {
  filter: brightness(0.9);
}
.compare_course i {
  font-size: 3rem;
  opacity: 0.8;
}
.compare_block > div h3 {
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem;
}
.compare_subjects {
  align-items: flex-start !important;
}
.compare_subjects span {
  text-align: left;
  margin-top: 2rem;
}

/* // TEST */
#test {
  position: fixed;
  background: linear-gradient(135deg, rgb(211, 0, 0), #850000);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99999;
  /* display: none; */
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

#test.active {
  opacity: 1;
  pointer-events: all;
}
#test.active .test_container {
  scale: 1;
}
.test_container {
  width: 80%;
  height: 90vh;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.15);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  transform-origin: 0 0;
  scale: 0;
  transition: 0.3s ease;
}
.test_result_wrapper,
.test_inner.show .test_progress,
.test_inner.show .test_q,
.test_inner.show .test_btns,
.test_inner.show .test_a {
  display: none;
}
.test_inner.show .test_result_wrapper {
  display: block;
}
.test_result_wrapper {
  width: 100%;
}
.test_head {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgb(0, 0, 0, 0.05);
  position: relative;
  height: max-content;
  position: relative;
}
.test_container > i {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2rem;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
  z-index: 9;
}
.test_container > i:hover {
  color: var(--mainClr);
}
.test_result {
  width: 100%;
}
.test_result_inner {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  gap: 3rem;
}
.test_result_item_info > p {
  font-weight: bold;
  color: var(--mainClr);
  font-size: 2rem;
}
.test_result_item_info_btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.test_result_item_info a {
  padding: 5px 2rem;
  background-color: var(--mainClr);
  color: white;
  border-radius: 50rem;
  display: block;
  width: max-content;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 0 0 3px rgb(0, 0, 0, 0.3);
}
.test_result_item_info a.sub {
  color: var(--textClr);
  background-color: white;
}
.test_result_item_info ul li i {
  color: var(--mainClr);
}
.test_result_item {
  width: 100%;
  box-shadow: 0 0 8px rgb(0, 0, 0, 0.2);
  display: flex;
  padding: 2rem;
  gap: 3rem;
  border-radius: 8px;
  align-items: center;
}
.test_result_item img {
  width: 30rem;
  object-fit: cover;
  max-width: 20vw;
  border-radius: 8px;
  box-shadow: 0 0 3px rgb(0, 0, 0, 0.2);
}
.test_loading {
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem;
  animation: fadeIn 0.5s ease-in-out;
}
.test_progress {
  width: 100%;
  height: 8px;
  background: #ddd;
  border-radius: 50rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 2rem;
}

.test_progress_inner {
  height: 100%;
  width: 0%;
  background: var(--mainClr);
  transition: width 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.test_result h3 {
  font-size: 2rem;
  font-weight: bold;
}
.test_q {
  font-weight: bold;
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}
.test_a {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.test_btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: max-content;
  margin: 0 auto;
}

.test_btns > p {
  border-radius: 8px;
  color: var(--mainClr);
  cursor: pointer;
}

.test_btns > p.disable,
.test_btns > p:last-child {
  opacity: 0;
  pointer-events: none;
}
.test_a > p {
  padding: 1.5rem 3rem;
  text-align: center;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
  border-radius: 50rem;
  cursor: pointer;
  transition: 0.3s;
}
.test_a > p:hover {
  background-color: var(--mainClr);
  color: white;
}
.test_head > div > h5 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--mainClr);
}
.test_head > img {
  width: 12rem;
}
.test_inner {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  height: 85%;
  overflow: auto;
  padding: 1rem;
}
.test_inner.fade .test_a,
.test_inner.fade .test_q {
  animation: fadeIn 0.5s ease-in-out;
}
.ideas_header_menu > i {
  display: none;
}
.swiper-pagination {
  transform: translateY(1.5rem) !important;
}
/* // TRANG TRƯỜNG */
.ideas_school_head {
  display: flex;
  width: 100%;
  padding-top: 5rem;
}
.ideas_school_head > div:first-child {
  padding: 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.ideas_courses.school {
}
.ideas_courses.school .ideas_courses_tag {
  font-size: 3rem;
}
.ideas_school_head > div > img {
  width: 25rem;
  margin-bottom: 2rem;
}
.school_headline {
  font-size: 3.5rem;
}
.ideas_record_detail {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.ideas_main.school .ideas_coop_item {
  opacity: 1;
  filter: grayscale(0);
}
.ideas_record_detail > div {
  display: flex;
  gap: 3rem;
  width: calc(50% - 1rem);
  box-shadow: 0 1px 8px rgb(0, 0, 0, 0.1);
  padding: 3rem;
  border-radius: 5px;
  align-items: center;
}
.ideas_record_detail_item_info {
  height: 100%;
}
.ideas_main.school .ideas_coop_block h2 {
  text-align: left;
  width: 100%;
}
.ideas_record_detail_item_info > h3 {
  font-weight: bold;
  font-size: 2rem;
}
.ideas_record_detail_item_info > span {
  font-size: 1.4rem;
}
.ideas_record_detail > div > img {
  width: 15rem;
  height: auto;
}
.ideas_school_head > a {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  gap: 3rem;
}
.ideas_school_head > a img {
  width: 60%;
  border-radius: 8px;
  object-fit: cover;
}
.swiper-container.school .swiper-slide img {
  height: 25rem;
}

.ideas_school_home {
  background-color: #ffadad4d;
  width: 100vw;
  height: 50rem;
}
.ideas_quote_school {
  display: flex;
  justify-content: center; /* Căn giữa ngang */
  align-items: center; /* Căn giữa dọc (nếu cần) */
  width: 100%;
  gap: 3rem;
  flex-wrap: wrap;
}
.ideas_quote.school {
  padding-top: 15rem;
}
.ideas_quote.school h2 {
  margin-bottom: -8rem;
}
.ideas_quote_school > iframe {
  width: calc(50% - 2rem);
  aspect-ratio: 16 / 9; /* Đảm bảo tỷ lệ 16:9 */
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 2px rgb(0, 0, 0, 0.2);
}

@media (max-width: 1099px) {
  .ideas_numbers > div > img {
    width: 5rem;
    right: 1rem;
  }
  .ideas_numbers > div {
    padding: 1rem;
  }
  body {
    font-size: 1.4rem;
  }
  .ideas_header_menu > i {
    display: block;
  }
  .ideas_demographic > div > p {
    padding: 0;
  }
  .ideas_program_box {
    margin-top: 0;
  }
  .ideas_imgs_logo {
    margin-left: 0;
  }
  .ideas_course_title_right > iframe,
  .ideas_course_title_right > img {
    height: 25rem;
  }
  .ideas_program_info {
    padding: 2rem;
  }
  .ideas_program_time {
    flex-direction: column;
    gap: 3rem;
  }
  .ideas_program_info > div > div {
    width: 100% !important;
    padding-left: 0 !important;
  }
  .swiper-slide img {
    width: 100%;
    height: 15rem;
  }
  .ideas_program_box,
  .ideas_program_detail_img,
  .ideas_program_fee,
  .ideas_demographic,
  .ideas_require_inner,
  .ideas_faq > div,
  .ideas_course_title,
  .ideas_require > .ideas_require_title {
    flex-direction: column !important;
  }
  .ideas_program_info {
    padding: 3rem;
  }
  .ideas_box {
    padding: 0;
  }
  .ideas_program_detail_img > img,
  .ideas_demographic > div,
  .ideas_program_detail,
  .ideas_require_step,
  .ideas_faq_inner,
  .ideas_course_title_left,
  .ideas_course_title_right,
  .ideas_program_detail_img.wes > img {
    width: 100%;
  }
  #compare {
    width: 98%;
  }
  .compare_course {
    width: 13rem;
    min-height: 8rem;
  }
  .compare_item {
    width: 100%;
  }
  .compare_active > div > p {
    font-size: 1rem;
  }
  .compare_active.active {
    max-height: 50vh;
  }
  .compare_active {
    padding: 0;
  }
  .compare_active > div > p:nth-child(2) {
    width: 15%;
    font-size: 1rem;
  }
  .compare_block > div h3 {
    font-size: 1.2rem;
  }
  .ideas_program_detail_info > p {
    font-size: 1.6rem;
  }
  .ideas_faq_add h3 {
    text-align: center;
  }
  .ideas_program h2,
  .ideas_faq_add {
    margin-top: 3rem;
  }
  .ideas_box h2 {
    font-size: 2rem;
  }
  .ideas_faq_item > p {
    font-size: 1.4rem;
  }
  .compare_render {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60vh;
  }
  .ideas_require_step {
    padding: 2rem;
  }
  .ideas_require_step > i {
    position: absolute;
    bottom: -46vw;
    left: 0%;
    right: 0;
    transform: translateX(-50%);
    top: unset;
    transform: rotate(90deg);
  }
  .ideas_box {
    flex-direction: column;
  }
  .compare_course.chosed img {
    max-height: unset;
  }
  .w50,
  .ideas_euromap_content,
  .ideas_course {
    width: 100%;
  }
  .ideas_box .w50 h2,
  .ideas_box .w50 h1 {
    font-size: 4rem;
  }
  .ideas_follow_inner,
  .ideas_title_viewmore {
    flex-direction: column;
  }
  .ideas_quote_inner {
    overflow-x: auto;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding: 2rem 1rem; /* Thêm padding ngang để dễ nhìn */
  }

  .ideas_quote_inner > * {
    scroll-snap-align: start;
    flex-shrink: 0; /* Ngăn item bị co lại */
  }
  .ideas_numbers > div {
    width: calc(50% - 5px);
  }
  .ideas_euromap,
  .ideas_coop_item,
  .title_line,
  .ideas_baner {
    padding: 0;
  }
  .ideas_baner img {
    border-radius: 0;
  }
  .ideas_courses {
    margin-top: 25rem;
  }
  .ideas_euromap_img {
    top: -84rem;
    left: -12rem;
  }
  .ideas_des {
    font-size: 1.4rem;
  }
  .euro_map_box {
    right: 52rem;
  }
  .ideas_history_inner {
    overflow-x: auto;
    flex-wrap: nowrap;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding: 4rem 1rem; /* Thêm padding ngang để nhìn đẹp hơn */
    justify-content: flex-start;
  }
  .ideas_text {
    display: none;
  }
  .ideas_quote h2,
  .ideas_quote {
    margin-top: 0;
    padding-top: 0;
  }
  .ideas_history_inner > * {
    scroll-snap-align: start;
    flex-shrink: 0; /* Đảm bảo các phần tử không bị co lại */
  }
  .ideas_history_item {
    width: 90%;
  }
  .pattern {
    left: 50%;
    top: 3rem;
  }
  .ideas_program_fee > div {
    width: 100%;
  }
  .ideas_benefits > div p {
    padding: 5px 1rem;
    font-size: 1.2rem;
  }
  .test_container {
    width: 95%;
    padding: 1rem;
    padding-top: 3rem;
  }
  .test_result h3 {
    font-size: 1.5rem;
  }
  .test_head {
    display: none;
  }
  .ideas_quote_item {
    width: 100%;
  }
  .test_result_wrapper,
  .test_inner,
  .test_result_item img,
  .test_result_item_info,
  .test_result_item_info_btns a {
    width: 100%;
    max-width: unset;
  }

  .test_result_item_info_btns a {
    text-align: center;
  }
  .test_result_item,
  .test_result_item_info_btns {
    flex-direction: column;
  }
  .test_q {
    font-size: 1.6rem;
  }
  .test_a > p {
    border-radius: 8px;
    width: 100%;
    padding: 5px 2rem;
    font-size: 1.2rem;
  }
  .test_q {
    margin-top: 0;
  }
  .ideas_header_top {
    display: none;
  }
  .ideas_menu {
    flex-direction: column;
    position: absolute;
    top: 0;
    height: 100vh;
    padding-top: 20vh;
    width: 100vw;
    left: -100%;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.966);
    align-items: flex-start;
    padding-left: 4rem;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
    transition: 0.2s ease;
    opacity: 0;
    gap: 2rem;
  }
  .ideas_header_menu > i {
    transition: 0.3s;
  }
  .ideas_header {
    height: max-content;
  }
  .ideas_header_right.active .ideas_menu {
    left: 0;
    opacity: 1;
    overflow-y: auto;
  }
  .ideas_menu > li:hover > ul {
    z-index: 9999;
    position: relative;
    box-shadow: unset;
    background: transparent;
    top: 0;
  }
  .ideas_main {
    margin-top: 8rem;
  }
  .ideas_header_menu > i {
    padding: 2rem;
    position: absolute;
    top: 1rem;
    right: 0;
    font-size: 2.5rem;
  }
  /* .ideas_menu > li > ul > li > ul {
    top: calc(100% + 1rem);
    left: -1rem;
    transform: unset;
  } */
  .ideas_menu > li > ul > li > ul::after {
    pointer-events: none;
  }
  .ideas_header_menu {
    padding: 1rem 1rem;
    padding-top: 1rem;
  }
  .ideas_header_menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .ideas_menu_btns a {
    display: none;
  }
  .ideas_logo img {
    width: 10rem;
  }

  .swiper-container.home {
    width: 100vw;
    margin-top: -3rem;
    overflow: unset;
  }
}
.swiper-pagination-bullet {
  background-color: var(--fadeText);
  width: 4rem !important;
  height: 8px !important;
  opacity: 0.1 !important;
  border-radius: 5px !important;
  transition: all 0.3s ease;
}

/* Màu dot khi active */
.swiper-pagination-bullet-active {
  background-color: var(--mainClr) !important;
  opacity: 1 !important;
  filter: brightness(1.2) !important;
}
